<div class="ui centered grid" style="border: 3px solid black; border-radius: 40px;width: 230px; height:405px">
  <h1>{{section.title}}</h1>
  <h2>Overview of the study</h2>

  <h3>Learn more about the study</h3>

  <button>Get Started</button>
</div>
