<div class="ui centered grid" style="border: 3px solid black; border-radius: 40px;width: 230px; height:405px">
  <h1 class="ork-title">{{section.title}}</h1>
  <h2 class="ork-summary">{{ section.summary }}</h2>

  <h3 class="ork-learn-more">{{ section.learnMoreButtonTitle }}</h3>

  <button>Get Started</button>
</div>
