<button {{action (route-action "newSurvey")}}>New Survey</button>
<ul class="surveys">
  {{#each model as |survey|}}
    <li>
      {{#link-to 'surveys.edit' survey}}
        {{survey.title}}
      {{/link-to}}
    </li>
  {{/each}}
</ul>
{{outlet}}
