<h1>My App</h1>

<ol>
  <li>
    {{#link-to 'welcome-information'}}
    Welcome Information
    {{/link-to}}
  </li>
  <li>
    {{#link-to 'consent-document'}}
    Consent Document
  {{/link-to}}
  </li>
  <li>
    {{#link-to 'surveys'}}
    Surveys
    {{/link-to}}
  </li>
  <li>
    Subjects
  </li>

</ol>
<hr>

{{outlet}}
