<div class="column1">
  <h3>Section 1 of 6 - Overview <button>+ Add</button></h3>
  <p>
    Section Title
    <input type="text" />
  </p>
  <p>
    Research Kit Type
    <select>
      <option>Overview</option>
      <option>Purpose of Study</option>
    </select>
  </p>

  <p>
    Learn more button title 
    <input type="text" />
  </p>

  <p>
    Summary<br>
    <textarea rows="20" cols="40"></textarea>
  </p>
</div>
<div class="column2">
  <div style="border: 3px solid black; border-radius: 40px;width: 230px; height:405px">
  </div>
</div>
<div class="column3">
  <h5>Consent Document V3</h5>
  <h6>Last Published 01/01/2016</h6>
  <button>Save</button>
  <button>Publish</button>
</div>

{{outlet}}
