<div class="ui three column grid container">
<div class="column">
  <h3>Section 1 of 6 - Overview <button>+ Add</button></h3>
  {{#each model.sections as |section| }}
    <p>{{section.title}}</p>
  {{/each}}
  <p>
    Section Title
    <input type="text" />
  </p>
  <p>
    Research Kit Type
    <select>
      <option>Overview</option>
      <option>Purpose of Study</option>
    </select>
  </p>

  <p>
    Learn more button title 
    <input type="text" />
  </p>

  <p>
    Summary<br>
    <textarea rows="20" cols="40"></textarea>
  </p>
</div>
<div class="column">
  <div class="ui centered grid" style="border: 3px solid black; border-radius: 40px;width: 230px; height:405px">
    <h1>Overview</h1>
    <h2>Overview of the study</h2>

    <h3>Learn more about the study</h3>

    <button>Get Started</button>
  </div>
</div>
<div class="column">
  <h5>Consent Document {{model.version}}</h5>
  <h6>Last Published {{model.lastPublished}}</h6>
  <button>Save</button>
  <button>Publish</button>
</div>
</div>
{{outlet}}
