<div class="ui container">
<ol>
  <li>
    <h3>About this study (explain the study to the user)</h3>
    <p>
    <div class="ui form">
      <div class="field">
{{textarea value=model.aboutText rows="6"}}
      </div>
    </div>
    </p>
  </li>
  <li>
    <h3>About the App (prepare a short video that explains the app)</h3>
  </li>
</ol>

<button class="ui button" {{action (route-action "saveAll")}}>Save</button>
{{outlet}}
</div>
